# Applications 
/main/apps/ @JuanGuevara90

# Shared packages 
/main/packages/ @JuanGuevara90

# Infrastructure 
/main/infra/ @JuanGuevara90

# GitHub workflows and CI/CD 
/main/.github/ @JuanGuevara90

# Documentation 
/main/docs/ @JuanGuevara90

# Default owner 
/main/ * @JuanGuevara90